<% include ../partials/head %>
<body>
<% include ../partials/header %>
<div class="container pl-0 pr-0">
        <div class="card" style="margin-top: 3rem">
            <div class="row m-0 px-3 py-3">
                <div class="col-lg-12" align="center">
                    404
                </div>
            </div>
        </div>
    </div>

<footer class="bd-footer text-muted">
    <% include ../partials/footer %>
</footer>

</body>
</html>
